NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=7ueVgYfrwidjpwMCBfGyHCoVpaVNe7Ep1h2Mxv1ENBYQ
NEXT_PUBLIC_SESSION_KEYS_PROGRAM_ID=KeyspM2ssCJbqUhQ4k7sveSiY4WjnYsrXkC8oDbwde5
NEXT_PUBLIC_EDCOINS_MINT=
NEXT_PUBLIC_EDCOINS_TREASURY=
NEXT_PUBLIC_SOL_TREASURY=
