NEXT_PUBLIC_SOLANA_CLUSTER=localnet
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8899
NEXT_PUBLIC_PROGRAM_ID=7ueVgYfrwidjpwMCBfGyHCoVpaVNe7Ep1h2Mxv1ENBYQ
NEXT_PUBLIC_EDCOINS_MINT=
NEXT_PUBLIC_EDCOINS_TREASURY=
NEXT_PUBLIC_SOL_TREASURY=
